@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme inline {
  --font-narrative: var(--font-dokdo);
}

@theme {
  --animate-sway: sway 0.5s infinite;

  @keyframes sway {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-1.5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@utility carousel-item-inner {
  @apply flex h-[80%] flex-col items-center justify-center;
}

@keyframes haloPulse {
  0% {
    filter: drop-shadow(0 0 8px rgba(250, 204, 21, 0.3));
  }
  50% {
    filter: drop-shadow(
        0 0 var(--glow-size) rgba(250, 204, 21, var(--glow-opacity, 1))
      )
      drop-shadow(
        0 0 var(--glow-inner, 30px) rgba(255, 230, 50, var(--glow-opacity, 1))
      )
      drop-shadow(0 0 4px rgba(255, 245, 150, 1));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(250, 204, 21, 0.3));
  }
}

.animate-haloPulse {
  animation: haloPulse 1.6s infinite;
}
